<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>مدیریت دسترسی ها</title>
</head>
<body>
<div class="container-fluid" ng-app="ZDSGUI.pages.user-mng.prs-mng" ng-controller="prsaction">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group">
                <div class="panel panel-warning bootstrap-panel">
                    <div class="panel-heading">لیست دسترسی ها</div>
                    <div id="listusers" class="panel-body">
                        <div class="button-wrapper"><button type="button" ng-click="getlistuser()" class="btn btn-default"><i class="ion-refresh"></i></button></div>
                        <table id="data" class="table table-bordered table-hover table-condensed">
                <thead>
                <tr>
                    <th class="table-id">#</th>
                    <th>نام</th>
                    <th>عنوان</th>
                    <th>توضیحات</th>
                    <th>دستور والد</th>
                    <th>----</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="x in myData">
                    <td>{{ x.permissionID }}</td>
                    <td>{{ x.name }}</td>
                    <td>{{ x.title }}</td>
                    <td>{{ x.description }}</td>
                    <td>{{ x.parentID }}</td>
                    <td><button class="btn btn-primary btn-xs"  id='edit-btn' data-toggle="modal" ng-click="openmodal('app/pages/user-mng/prs-mng/editmodal.html', 'md',x.permissionID)" ng-disabled="true">ویرایش</button>
                        <button class="btn btn-danger btn-xs" ng-click="doremove(x.userID)" id='remove-btn' ng-disabled="true">حذف</button></td>
                </tr>
                </tbody>
            </table>
            <div class="button-wrapper"><button type="button" class="btn btn-warning btn-xs" data-toggle="modal" ng-click="openmodal('app/pages/user-mng/prs-mng/newmodal.html', 'md')">دسترسی جدید</button></div>
            </div>
                </div>
                </div>
        </div>
    </div>
</div>
<script>

</script>
</body>
</html>