
<div class="container-fluid" ng-app="ZDSGUI.pages.user-mng.prs-mng" ng-controller="prsaction">
    <div class="row">
        <div class="col-md-12">
            <div class="panel-group">
                <div class="panel panel-default bootstrap-panel">
                    <div id="listusers" class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="button-wrapper">
                                    <button type="button" class="btn btn-warning btn-lg" zdsperm="userman.registerPermission" data-toggle="modal"
                                            style="float: right;"
                                            ng-click="openmodal('app/pages/user-mng/prs-mng/newmodal.html', 'md')"><i
                                            class="ion-plus"></i>
                                        دسترسی جدید
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="button-wrapper" style="text-align: left;">
                                    <button type="button" ng-click="getlistuser()" class="btn btn-default btn-lg"><i
                                            class="ion-refresh"></i></button>
                                </div>
                            </div>

                        </div>



                            <table id="data" class="table table-hover table-condensed table-responsive"
                                   st-table="myData">
                                <thead>
                                <tr class="tbheaddark">
                                    <th class="table-id">#</th>
                                    <th>نام</th>
                                    <th>عنوان</th>
                                    <th>توضیحات</th>
                                    <th>دستور والد</th>
                                    <th>عملیات</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="x in myData | filter: paginate">
                                    <td>{{ x.permissionID }}</td>
                                    <td>{{ x.name }}</td>
                                    <td>{{ x.title }}</td>
                                    <td>{{ x.description }}</td>
                                    <td>{{ x.parentID }}</td>
                                    <td>
                                        <button class="btn btn-primary btn-xs" id='edit-btn' zdsperm="userman.updatePermission" data-toggle="modal"
                                                ng-click="openmodal('app/pages/user-mng/prs-mng/editmodal.html', 'md',x.permissionID,x.title,x.name,x.description,x.parentID)"
                                                ng-disabled="false">ویرایش
                                        </button>
                                        <button class="btn btn-danger btn-xs" zdsperm="userman.removePermission" ng-click="openmodal('app/pages/user-mng/prs-mng/removemodal.html', 'sm',x.permissionID)"
                                                id='remove-btn'
                                                ng-disabled="false">حذف
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div id="pagerdark">
                                        <pagination total-items="totalItems" ng-model="currentPage"
                                                    max-size="5" boundary-links="true"
                                                    items-per-page="numPerPage" class="pagination-md">
                                        </pagination>
                            </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
