<div class="modal-content" ng-app="ZDSGUI.websocket" ng-controller="error">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">خطا - {{vm.content.title}}</h4>
    </div>
    <div class="modal-body">
        <p>{{vm.content.body}}</p>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="$dismiss()">تایید</button>
    </div>
</div>
