<div class="row" ng-app='ZDSGUI.pages.accounting.accounts'>
    <div class="col-md-6" ng-controller="accounttree">
        <div id="account-tree" ba-panel ba-panel-title="درختواره حساب ها" ba-panel-class="with-scroll tree-panel">
            <div class="row">
                <div class="col-sm-6">
                    <div style="direction: rtl;" js-tree="basicConfig" tree-events="activate_node:clicknode"
                         ng-model="actree"></div>
                </div>
                <div class="col-sm-6">
                    <div class="container-fluid">
                        <div class="col-md-12">

                            <div class="row accountinfo">
                                <div class="row">
                                    <div class="col-md-6">
                                        کد حساب:
                                    </div>
                                    <div class="col-md-6">
                                        {{myData[activeId][0]}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        کد کامل:
                                    </div>
                                    <div class="col-md-6">
                                        {{myData[activeId][16]}}
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        نام حساب:
                                    </div>
                                    <div class="col-md-6">
                                        {{myData[activeId][2]}}
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        نوع:
                                    </div>
                                    <div class="col-md-6">
                                        {{myData[activeId][3]}}
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary" ng-click="openmodal('app/pages/accounting/accounts/editmodal.html', 'md',myData[activeId])">
                                            ویرایش
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6" ng-controller="accounttable">
        <div id="account-table" ba-panel ba-panel-title="جدول حساب ها" ba-panel-class="with-scroll tree-panel">
            <div class="row">
                <div class="col-sm-6">
                    <div class="button-wrapper">
                        <button type="button" zdsperm="AccountingRelay.newAccount" class="btn btn-default btn-lg" data-toggle="modal"
                                style="float: right;"
                                ng-click="openmodal('app/pages/accounting/accounts/newmodal.html', 'md',[])"><i
                                class="ion-plus"></i>
                            حساب جدید
                        </button>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="button-wrapper" style="text-align: left;">
                        <button type="button" ng-click="getaccounts()" class="btn btn-default"><i
                                class="ion-refresh"></i></button>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table id="data" class="table table-bordered table-hover table-condensed" >
                    <thead>
                    <tr class="tbheadgreen">
                        <th class="table-id">#</th>
                        <th>نوع حساب</th>
                        <th>عنوان حساب</th>
                        <th>تفضیلی پذیر</th>
                        <th>ارزی</th>
                        <th>پیگیری</th>
                        <th>فعال</th>
                        <th>عملیات</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="x in myData">
                        <td>{{ x[0] }}</td>
                        <td>{{ x[1] | accounttype}}</td>
                        <td>{{ x[2] }}</td>
                        <td>{{ x[3] | persianboolean}}</td>
                        <td>{{ x[4] | persianboolean}}</td>
                        <td>{{ x[5] | persianboolean}}</td>
                        <td>{{ x[6] | persianboolean}}</td>
                        <td>
                            <button zdsperm="AccountingRelay.modifyAccount" class="btn btn-primary btn-xs" id='edit-btn' data-toggle="modal"
                                    ng-click="openmodal('app/pages/accounting/accounts/editmodal.html', 'md',x)">
                                ویرایش
                            </button>
                            <button zdsperm="AccountingRelay.removeAccount" class="btn btn-danger btn-xs"
                                    ng-click="openmodal('app/pages/accounting/accounts/removemodal.html', 'sm',x)"
                                    id='remove-btn'>حذف
                            </button>
                        </td>
                    </tr>

                </table>


            </div>

        </div>

    </div>

</div>


