<div class="row" ng-app='ZDSGUI.pages.accounting.accounts'>
    <div class="col-md-6 col-sm-12 col-xs-12" ng-controller="accounttree">
        <div class="panel-group">
            <div class="panel panel-default bootstrap-panel">
                <div id="account-tree" class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div style="direction: rtl;" js-tree="basicConfig" tree-events="activate_node:clicknode"
                         ng-model="actree"></div>
                </div>
                <div class="col-sm-6">
                    <div class="container-fluid">
                        <div class="col-md-12">

                            <div class="row accountinfo">
                                <div class="row">
                                    <div class="col-md-6">
                                        کد حساب:
                                    </div>
                                    <div class="col-md-6">
                                        {{myData[activeId][0]}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        کد کامل:
                                    </div>
                                    <div class="col-md-6">
                                        {{myData[activeId][16]}}
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        نام حساب:
                                    </div>
                                    <div class="col-md-6">
                                        {{myData[activeId][2]}}
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-6">
                                        نوع:
                                    </div>
                                    <div class="col-md-6">
                                        {{myData[activeId][3]}}
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-primary" ng-click="openmodal('app/pages/accounting/accounts/editmodal.html', 'md',myData[activeId])">
                                            ویرایش
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-12 col-xs-12" ng-controller="accounttable">
        <div class="panel-group">
            <div class="panel panel-default bootstrap-panel">
                <div id="account-table" class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="button-wrapper">
                        <button type="button" zdsperm="AccountingRelay.newAccount" class="btn btn-primary btn-md" data-toggle="modal"
                                style="float: right;"
                                ng-click="openmodal('app/pages/accounting/accounts/newmodal.html', 'md',[])"><i
                                class="ion-plus"></i>
                            حساب جدید
                        </button>
                    </div>
                    <div class="button-wrapper" style="text-align: right;">
                        <button type="button" ng-click="getaccounts()" style="float:right;margin-right: 10px;background-color:#555;color:#eee;" class="btn btn-default btn-md"><i
                                class="ion-refresh"></i></button>
                        <div id="darksearch" class="input-group">
                            <input ng-model="search.title" class="form-control" type="text" placeholder="جستجو..."/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="sublogo">
                        <img src="assets\zaccounting.png" width="150px" class="img-responsive"/>
                    </div>
                </div>
            </div>

                <table id="data" class="table table-hover table-condensed table-responsive" >
                    <thead>
                    <tr class="tbheadgreen">
                        <th class="table-id">#</th>
                        <th>نوع حساب</th>
                        <th>عنوان حساب</th>
                        <th>تفضیلی پذیر</th>
                        <th>ارزی</th>
                        <th>پیگیری</th>
                        <th>فعال</th>
                        <th>عملیات</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="x in myData">
                        <td>{{ x[0] }}</td>
                        <td>{{ x[1] | accounttype}}</td>
                        <td>{{ x[2] }}</td>
                        <td>{{ x[3] | persianboolean}}</td>
                        <td>{{ x[4] | persianboolean}}</td>
                        <td>{{ x[5] | persianboolean}}</td>
                        <td>{{ x[6] | persianboolean}}</td>
                        <td>
                            <button zdsperm="AccountingRelay.modifyAccount" class="btn btn-primary btn-xs" id='edit-btn' data-toggle="modal"
                                    ng-click="openmodal('app/pages/accounting/accounts/editmodal.html', 'md',x)">
                                ویرایش
                            </button>
                            <button zdsperm="AccountingRelay.removeAccount" class="btn btn-danger btn-xs"
                                    ng-click="openmodal('app/pages/accounting/accounts/removemodal.html', 'sm',x)"
                                    id='remove-btn'>حذف
                            </button>
                        </td>
                    </tr>
                </table>
        </div>
</div></div>
    </div>

</div>


