<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>مدیریت حساب ها</title>
</head>
<div class="row" ng-controller="treeCtrl">
    <div class="col-md-6">
<div ba-panel ba-panel-title="درختواره حساب ها" ba-panel-class="with-scroll tree-panel">
    <div class="row">
        <div class="col-sm-4">
            <div class="control-side text-center">
                <div>
                    <button class="btn btn-primary" ng-click="addNewNode()">Add</button>
                </div>
                <div>
                    <button class="btn btn-primary" ng-click="collapse()">Collapse All</button>
                </div>
                <div>
                    <button class="btn btn-primary" ng-click="expand()">Expand All</button>
                </div>
                <div>
                    <button class="btn btn-primary" ng-click="refresh()">Refresh</button>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div js-tree="basicConfig" ng-model="treeData" should-apply="applyModelChanges()" tree="basicTree" tree-events="ready:readyCB"></div>
        </div>
    </div>
</div>
</div>

    <div class="col-md-6">
        <div ba-panel ba-panel-title="جدول حساب ها" ba-panel-class="with-scroll tree-panel">
            <div class="row">
                <table id="data" class="table table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th class="table-id">#</th>
                        <th>عنوان حساب</th>
                        <th>نوع حساب</th>
                        <th>عنوان حساب</th>
                        <th>وضعیت تعلیق</th>
                        <th>علت تعلیق</th>
                        <th>-----</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="x in myData">
                        <td>{{ x.userID }}</td>
                        <td>{{ x.username }}</td>
                        <td>{{ x.name }}</td>
                        <td>{{ x.isOnline }}</td>
                        <td>{{ x.banned }}</td>
                        <td>{{ x.banReason }}</td>
                        <td><button class="btn btn-info btn-xs" ng-click="openmodal('app/pages/user-mng/user/groupmodal.html', 'md',x.userID)" id='usergroup-btn'>گروه ها</button><button class="btn btn-primary btn-xs"  id='edit-btn' data-toggle="modal" ng-click="openmodal('app/pages/user-mng/user/editmodal.html', 'md',x.userID,x.username,x.name)">ویرایش</button>
                            <button class="btn btn-danger btn-xs" ng-click="doremove(x.userID)" id='remove-btn'>حذف</button></td>
                    </tr>
                </table>
                <div class="button-wrapper"><button type="button" class="btn btn-warning btn-xs" data-toggle="modal" ng-click="openmodal('app/pages/user-mng/user/newmodal.html', 'md')">کاربر جدید</button></div>

            </div>
                <div class="col-sm-8">
                    <div js-tree="basicConfig" ng-model="treeData" should-apply="applyModelChanges()" tree="basicTree" tree-events="ready:readyCB"></div>
                </div>
            </div>
        </div>
    </div>

    </div>
</body>
</html>