<div class="modal-content" ng-app="ZDSGUI.pages.accounting.fiscalyear" ng-controller="newfiscalyear">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">ویرایش سال مالی</h4>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="title">عنوان:</label>
            <input type="text" class="form-control" id="title"  ng-model="title">
        </div>
            <div class="form-group">
                <label for="pstartdate">شروع:</label>
                <input type="text" class="form-control" id="pstartdate"
                       ng-jalali-flat-datepicker datepicker-config="datepickerConfig"
                       gregorian-formatted-picked-date="fstartdate" gregorian-picked-date="startdate"
                       ng-model="startdate">
            </div>

            <div class="form-group">
                <label for="penddate">پایان:</label>
                <input type="text" class="form-control" id="penddate" ng-jalali-flat-datepicker
                       datepicker-config="datepickerConfig"
                       gregorian-formatted-picked-date="fenddate" gregorian-picked-date="enddate" ng-model="enddate">
            </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="addfiscalyear();$dismiss()">تایید</button>
    </div>
</div>
