<!--dashboard-pie-chart></dashboard-pie-chart>-->

<div class="container-fluid" ng-app="ZDSGUI.pages.dashboard"  >
<div class="row">
    <div id="listcontact" class="col-lg-6 col-md-6 col-sm-12" ng-controller="contact">
      <div class="panel panel-primary bootstrap-panel medium-panel">
        <div class="panel-heading" style="color:white;font-size:18px">
          <div class="col-md-6">
            <i class="ion-android-contacts"></i>          دوستان شما
          </div>
          <div class="col-md-6">

          </div>
        </div>
        <div class="panel-body">

        <div id="search" class="input-group">
            <input ng-model="search.name" class="form-control" type="text" placeholder="جستجو..."/>
        </div>

          <table id="data" class="table table-responsive table-condensed" style="/background-color:#eee;/border-radius:5px;/border:1px solid #ddd">
          <thead>
          <tr>
          <th>#</th>
            <th>آواتار</th>
            <th>نام</th>
            <th>وضعیت</th>
            <th>عملیات</th>
          </tr>
          </thead>
            <tbody>
          <tr ng-repeat="x in info | filter:search">
            <td class="table-id">{{x.userID}}</td>
              <td><img ng-src="{{checkavatar(x.userID)}}" class="img-responsive img-rounded" width="64"/></td>
            <td>{{x.name}}</td>
              <td style="font-size:22px;" ng-bind-html="online(x.isOnline)" ></td>
            <td><button class="btn btn-primary btn-md " ng-disabled="false"><i class="ion-ios-paperplane"></i></button>

              <button class="btn btn-danger btn-md" ng-disabled="false"><i class="ion-ios-minus-outline"></i></button></td>
          </tr>
          </tbody>
        </table>
          </div>
      </div>
  </div>
  <div id="listgroup" class="col-lg-6 col-md-12 col-sm-12"
       ba-panel
       ba-panel-title="گروه های شما"
       ba-panel-class="medium-panel" >
    <div id="search" class="input-group">
      <input ng-model="search.title" class="form-control" type="text" placeholder="جستجو..."/>
    </div>
    <table class="table table-responsive table-condensed">
      <thead>
      <tr>
        <th class="table-id">#</th>
        <th>عنوان</th>
        <th>توضیحات</th>
        <th>---</th>
      </tr>
      </thead>
      <tbody ng-controller="group">
      <tr ng-repeat="y in mygroups | filter:search">
        <td class="table-id">{{y.usergroupID}}</td>
        <td>{{y.title}}</td>
        <td>{{y.description}}</td>
        <td>

          <button class="btn btn-danger btn-md" ng-disabled="false"><i class="ion-ios-minus-outline"></i></button></td>

      </tr>
      </tbody>
    </table>
  </div>
</div>

</div>



<!--<div class="row">
  <div class="col-lg-4 col-sm-6 col-xs-12">
    <div ba-panel ba-panel-title="Weather" ba-panel-class="medium-panel with-scroll">
      <blur-weather forecast="5"></blur-weather>
    </div>
  </div>
</div>-->
