<div class="row" ng-app='ZDSGUI.pages.bms.list'>
    <div class="col-md-3" ng-controller="bms2">
        <div id="bms-tree" ba-panel ba-panel-title="لیست ساختمان ها" ba-panel-class="with-scroll tree-panel">
            <div class="row">
                <div class="col-sm-6">
                    <div style="direction: rtl;" js-tree="basicConfig" ng-model="bmstree"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-9" ng-controller="bms">
        <div id="bms-nodes" ba-panel ba-panel-title="وسایل" ba-panel-class="with-scroll tree-panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">تهویه مطبوع</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-2">
                                    <button style="border-width: 0;" type="button" class="btn  btn-default btn-lg"><i
                                            class="ion-ios-arrow-up"></i>
                                    </button>
                                    <input type="text" size="2" class="form-control" id="input01" placeholder="22"
                                           style="max-width: 45px;     margin-left: 0;    margin-right: 0;">
                                    <button style="border-width: 0;" type="button" class="btn  btn-default btn-lg"><i
                                            class="ion-ios-arrow-down"></i>
                                    </button>
                                </div>
                                <div class="col-sm-5">
                                    <div class="row">
                                        <div class="col-sm-2" style="direction: ltr;">°C</div>
                                        <div class="col-sm-10">
                                            <div seg-group data-ng-model="value" seg-options="options"></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <table>
                                        <tbody>

                                        <tr>
                                            <td><p>گرمایش</p></td>
                                            <td>
                                                <button style="border-width: 0;" type="button"
                                                        class="btn  btn-default btn-lg">
                                                    <i class="ion-android-sunny"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><p>خاموش</p></td>

                                            <td>
                                                <button style="border-width: 0;" type="button"
                                                        class="btn  btn-default btn-lg">
                                                    <i class="socicon socicon-heroes"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <button style="border-width: 0;" type="button"
                                                        class="btn  btn-default btn-lg">
                                                    <i class="fa fa-arrows-h" aria-hidden="true"></i>

                                                </button>
                                            </td>
                                            <td>
                                                <button style="border-width: 0;" type="button"
                                                        class="btn  btn-default btn-lg">
                                                    <i class="fa fa-arrows-v" aria-hidden="true"></i>

                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">روشنایی</h3>
                </div>
                <div class="panel-body switches clearfix">
                    <div class="row">

                    </div>
                    <div class="col-md-6">
                        <div class="col-sm-3" style="padding-left: 0;padding-right: 5px;"> اتاق نشیمن</div>
                        <div class="col-sm-5" style="padding-left: 2px;padding-right: 2px;">
                            <div class="slider-box" style="padding-left: 10px;">
                                <ion-slider type="single"
                                            grid="false"
                                            min="0"
                                            max="100"
                                            from="45"
                                            hide-min-max="true"
                                            hide-from-to="true"
                                            disable="false">
                                </ion-slider>
                            </div>
                        </div>
                        <div class="col-sm-4" style="padding-left: 0;padding-right: 0;">
                            <switch color="success" ng-model="switchPanelVminfo1"></switch>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-sm-3" style="padding-left: 0;padding-right: 5px;">اتاق خواب</div>
                        <div class="col-sm-5" style="padding-left: 2px;padding-right: 2px;">
                            <div class="slider-box" style="padding-left: 10px;">
                                <ion-slider type="single"
                                            grid="false"
                                            min="0"
                                            max="100"
                                            from="45"
                                            hide-min-max="true"
                                            hide-from-to="true"
                                            disable="false">
                                </ion-slider>
                            </div>
                        </div>
                        <div class="col-sm-4" style="padding-left: 0;padding-right: 0;">
                            <switch color="success" ng-model="switchPanelVminfo2"></switch>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="col-sm-3" style="padding-left: 0;padding-right: 5px;"> آشپرخانه</div>
                        <div class="col-sm-5" style="padding-left: 2px;padding-right: 2px;">
                            <div class="slider-box" style="padding-left: 10px;">
                                <ion-slider type="single"
                                            grid="false"
                                            min="0"
                                            max="100"
                                            from="45"
                                            hide-min-max="true"
                                            hide-from-to="true"
                                            disable="false">
                                </ion-slider>
                            </div>
                        </div>
                        <div class="col-sm-4" style="padding-left: 0;padding-right: 0;">
                            <switch color="success" ng-model="switchPanelVminfo3"></switch>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

