
<div class="row" ng-app='ZDSGUI.pages.accounting.dl'>
<div class="col-md-12" ng-controller="dl">
    <div id="account-table" ba-panel ba-panel-title="حساب های تفضیلی" ba-panel-class="with-scroll tree-panel">
        <div class="row">
            <div class="col-sm-6">
                <div class="button-wrapper">
                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal"
                            style="float: right;"
                            ng-click="openmodal('app/pages/accounting/dl/newmodal.html', 'md')"><i
                            class="ion-plus"></i>
                        حساب جدید
                    </button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="button-wrapper" style="text-align: left;">
                    <button type="button" ng-click="getdl()" class="btn btn-default"><i
                            class="ion-refresh"></i></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table id="data" class="table table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th class="table-id">#</th>
                        <th>کد تفضیلی</th>
                        <th>عنوان</th>
                        <th>فعال</th>
                        <th>عملیات</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="x in myData">
                        <td>{{ x[0] }}</td>
                        <td>{{ x[1] }}</td>
                        <td>{{ x[2] }}</td>
                        <td>{{ x[5] | persianboolean }}</td>
                        <td>
                            <button class="btn btn-primary btn-xs" id='edit-btn' data-toggle="modal"
                                    ng-click="openmodal('app/pages/accounting/dl/editmodal.html', 'md',x[0],x[1],x[2],x[5])">
                                ویرایش
                            </button>
                            <button class="btn btn-danger btn-xs" ng-click="openmodal('app/pages/accounting/dl/removemodal.html', 'sm',x[0])" id='remove-btn'>حذف</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="button-wrapper"></div>

    </div>
</div>
</div>
