<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">درها</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="door-item">
                        <h5>در d</h5>
                        <div class="form-group">
                            <label>قفل:</label>
                            <switch color="success" ng-model="switchPanelVminfo3"></switch>
                        </div>
                        <div class="form-group">
                            <label>باز کردن:</label>
                            <button class="btn btn-primary btn-lg" ng-model="opendoor">
                                <i class="ion-android-unlock"></i>
                            </button>
                        </div>
                    </div>
                    <div class="door-item">
                        <h5>در c</h5>
                        <div class="form-group">
                            <label>قفل:</label>
                            <switch color="success" ng-model="switchPanelVminfo3"></switch>
                        </div>
                        <div class="form-group">
                            <label>باز کردن:</label>
                            <button class="btn btn-primary btn-lg" ng-model="opendoor">
                                <i class="ion-android-unlock"></i>
                            </button>
                        </div>
                    </div>
                    <div class="door-item">
                        <h5>در a</h5>
                        <div class="form-group">
                            <label>قفل:</label>
                            <switch color="success" ng-model="switchPanelVminfo3"></switch>
                        </div>
                        <div class="form-group">
                            <label>باز کردن:</label>
                            <button class="btn btn-primary btn-lg" ng-model="opendoor">
                                <i class="ion-android-unlock"></i>
                            </button>
                        </div>
                    </div>
                    <div class="door-item">
                        <h5>در b</h5>
                        <div class="form-group">
                            <label>قفل:</label>
                            <switch color="success" ng-model="switchPanelVminfo3"></switch>
                        </div>
                        <div class="form-group">
                            <label>باز کردن:</label>
                            <button class="btn btn-primary btn-lg" ng-model="opendoor">
                                <i class="ion-android-unlock"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>