<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">ایجاد کاربر جدید</h4>
  </div>
  <div class="modal-body" ng-app="ZDSGUI.pages.user-mng.user" ng-controller="newuser">
    <form>
      <div class="form-group">
        <label for="username">نام کاربری</label>
        <input type="text" class="form-control" id="username" placeholder="نام کاربری" value="{{username}}">
      </div>
      <div class="form-group">
        <label for="input02">نام</label>
        <input type="text" class="form-control" id="input02" placeholder="نام" value="{{name}}">
      </div>
      <div class="form-group">
        <label for="input03">رمز عبور:</label>
        <input type="password" class="form-control" id="input03" placeholder="رمز عبور" value="{{pw}}">
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="$dismiss()">Save changes</button>
  </div>
</div>
