<div class="modal-content modaldark" ng-app="ZDSGUI.pages.user-mng.group-mng" ng-controller="edituserperm">
    <div class="modal-header bg-default">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">مدیریت دسترسی کاربر</h4>
    </div>
    <div class="modal-body">
        <tree-grid tree-data="treeperms" col-defs="col_defs"  >
        </tree-grid>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" ng-click="addperms();$dismiss()">تایید</button>
    </div>
</div>
