<div class="modal-content" ng-app="ZDSGUI.pages.user-mng.group-mng" ng-controller="removeuser">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">حذف کاربر</h4>
    </div>
    <div class="modal-body">
        آیا می خواهید کاربر شماره {{userid}} را حذف کنید؟
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="doremove();$dismiss()">تایید</button>
        <button type="button" class="btn btn-danger" ng-click="$dismiss()" aria-label="Close">لغو</button>
    </div>
</div>
