<div class="modal-content modaldark" ng-app="ZDSGUI.pages.user-mng.group-mng" ng-controller="newgroup">
  <div class="modal-header bg-default">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">ایجاد گروه جدید</h4>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="title">عنوان:</label>
        <input type="text" class="form-control" id="title" placeholder="نام" ng-model='title'>
      </div>
      <div class="form-group">
        <label for="input02">توضیحات:</label>
        <input type="text" class="form-control" id="input02" placeholder="عنوان" ng-model='dec'>
      </div>
      <div class="form-group">
      <select class="form-control selectpicker" selectpicker title="گروه والد"
            ng-model="pid" ng-change=""
            ng-options="x.usergroupID as x.usergroupID + '-' + x.title for x in grouplist">
      </select>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="addgroup();$dismiss()">تایید</button>
  </div>
</div>
