<div class="modal-content" ng-app="ZDSGUI.pages.user-mng.group-mng" ng-controller="editgroupperm">
    <div class="modal-header bg-success">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">مدیریت دسترسی های گروه</h4>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" ng-click="addgroup();$dismiss()">تایید</button>
    </div>
</div>
