<link rel="stylesheet" href="app/auth.css">


<div class="auth-block" ng-app="ZDSGUI.pages.login" ng-controller="loginAction">

    <div class="col-sm-12 loginlogo">
    <img src="assets\zlogo.png" class="img-rounded"/>
    </div>
    <h1 ng-if="!banned">به سامانه مدیریتی زیتون خوش آمدید</h1>
    <div ng-if="!$disconnect">
    <h3 ng-if="!logedin && !banned">لطفا نام کاربری و روز عبور خود را وارد کنید</h3>
    <div ng-if="!logedin && !banned">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputUsername3"  class="col-sm-2 control-label">نام کاربری</label>

            <div class="col-sm-10" >
                <input type="text" class="form-control" id="inputUsername3" ng-model="$parent.$parent.username" placeholder="Username"
                       value="admin">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">رمز عبور</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" ng-model="$parent.$parent.password"
                       placeholder="Password" value="admin">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-4 col-sm-4">
                <div class="form-group">
                    <div class="checkbox" style="margin-right:20px;color:white;">
                        <label class="custom-checkbox">
                            <input type="checkbox" ng-model="$parent.$parent.rememberme">
                            <span style="color:whitesmoke;">مرا بخاطر بسپار:</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class=" col-md-6 col-sm-4">
                <button type="submit" style="float:left" class="btn btn-default btn-auth" ng-click="dologin()" ng-disabled="LoginDisabled">
                    ورود
                </button>
                <!--a href class="forgot-pass">رمز خود را فراموش کرده اید؟</a-->
            </div>

        </div>
    </form>
    </div>
    <form class="form-horizontal" ng-if="logedin">
        <div class="form-group">
            <label class="col-md-12 col-sm-12 control-label" style="text-align: center;"><h3>در حال احراز هویت...</h3></label>

        </div>
    </form>
        <form class="form-horizontal" ng-if="banned">
            <div class="form-group">
                <label class="col-md-12 col-sm-12 control-label" style="text-align: center;"><h3>حساب شما مسدود شده!</h3></label>
            </div>
        </form>
    </div>

    <div ng-if="$disconnect">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-md-12 col-sm-12 control-label" style="text-align: center;"><h3>اتصال قطع شده است!</h3></label>
                <div class="col-md-offset-5 col-md-2">
                <button class="btn btn-lg btn-warning" onclick="location.reload();"><i class="ion-loop"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>
