<div id="newvoucher" class="modal-content" ng-app="ZDSGUI.pages.accounting.voucher" ng-controller="newvoucher">
    <div class="modal-header">
        <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
        </button>
        <h4 class="modal-title" id="myModalLabel">سند جدید</h4>
    </div>
    <div class="modal-body">

        <form>
            <div class="form-group col-xs-6 col-md-6">
                <label for="vid">شماره سند:</label>
                <input type="number" class=" form-control" id="vid" ng-model="vid">
            </div>
            <div class="form-group col-xs-6 col-md-6">
                <label id="type">نوع سند: عمومی<br>
                    وضعیت: موقت<br>
                    سیستم صادرکننده: حسابداری</label>
            </div>
            <div class="form-group col-xs-6 col-md-6">
                <label for="vdate">تاریخ:</label>
                <input type="text" class="form-control" id="vdate" ng-model="vdate"
                       ng-jalali-flat-datepicker datepicker-config="datepickerConfig"
                       gregorian-formatted-picked-date="fvdate" gregorian-picked-date="vdate">
            </div>
            <div class="form-group col-xs-6 col-md-6">
                <label for="refnumber">شماره فرعی:</label>
                <input type="number" class="form-control" id="refnumber" ng-model="refnumber">
            </div>
            <div class="form-group col-xs-6 col-md-6">
                <label for="dec">توضیحات:</label>
                <input type="text" class="form-control" id="dec" ng-model="dec">
            </div>
            <div class="form-group col-xs-6 col-md-6">
            </div>
        </form>
        <div id="toolbar">
            <button type="button" class="btn btn-primary" ng-click="additem()">ایجاد تراکنش</button>
            <button type="button" class="btn btn-primary" ng-click="itemlog()">تست</button>
        </div>

        <table id="data" class="table table-hover" st-table="myData">
            <thead>
            <tr>
                <th class="table-id">#</th>
                <th>کد معین</th>
                <th>کد تفضیلی</th>
                <th>شرح</th>
                <th>بدهکار</th>
                <th>بستانکار</th>
                <th>شماره پیگیری</th>
                <th>تاریخ پیگیری</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tr ng-repeat="x in items" class="editable-tr-wrap">
                <td>
                    {{$index + 1}}
                </td>
                <td>
          <span editable-select="x.accountid" buttons="no" e-ng-options="i[0] as i[0] + '-' + i[2] for i in acid"
                onbeforesave="checkdl($data,$index)">
            {{ x.accountid }}
          </span>
                    <!--<span editable-select="" e-name="کد معین" e-form="rowform"
                          e-ng-options="i[0] as i[0] for i in acid" data-e-ng-model="selectedid" e-ng-change="test(selectedid)" ng-click="">
                      {{x.accountid}}
                  </span>-->
                </td>
                <td>
          <span editable-text="x.dlid" e-name="کد تفضیلی" edit-disabled="enable()" buttons="no">
            {{ x.dlid }}
          </span>
                </td>
                <td><span editable-text="x.description" e-name="شرح" buttons="no">
            {{ x.description }}
          </span>
                </td>
                <td><span editable-text="x.debit" e-name="بدهکار" buttons="no">
            {{ x.debit }}
          </span>
                </td>
                <td><a editable-text="x.credit" e-name="بستانکار" buttons="no">
                    {{ x.credit }}
                </a></td>
                <td><span>
            ---
          </span></td>
                <td>
                    <span>
                                   ---
                  </span>
                </td>
                <
                <td>
                    <div class="buttons" ng-show="!rowform.$visible">
                        <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeitem($index)">حذف
                        </button>
                    </div>
                </td>
            </tr>


        </table>

    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="addvoucher()">تایید</button>
        <div id="info">
            <span>اختلاف : {{d}}</span>

        </div>
    </div>
</div>
