<div id="newvoucher" class="modal-content" ng-app="ZDSGUI.pages.accounting.category" ng-controller="newvoucher">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title" id="myModalLabel">سند جدید</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="vid">شماره سند:</label>
      <input type="number" class="form-control" id="vid" ng-model="vid">
    </div>
    <div class="form-group">
      <label id="type">نوع سند: عمومی</label>
      <label id="state">وضعیت: موقت</label>
      <label id="sys">سیستم صادرکننده: حسابداری</label>
    </div>
    <div class="form-group">
      <label for="vdate">تاریخ:</label>
      <input type="text" class="form-control" id="vdate" ng-model="vdate"
             ng-jalali-flat-datepicker datepicker-config="datepickerConfig"
             gregorian-formatted-picked-date="fvdate" gregorian-picked-date="vdate">
    </div>
    <div class="form-group">
      <label for="refnumber">شماره فرعی:</label>
      <input type="number" class="form-control" id="refnumber" ng-model="refnumber">
    </div>
    <div class="form-group">
      <label for="dec">توضیحات:</label>
      <input type="text" class="form-control" id="dec" ng-model="dec">
    </div>
    <div id="toolbar"><button type="button" class="btn btn-primary" ng-click="additem()">ایجاد تراکنش</button>
      <button type="button" class="btn btn-primary" ng-click="itemlog()">تست</button></div>
    <table id="data" class="table table-bordered table-hover table-condensed">
      <thead>
      <tr>
        <th class="table-id">#</th>
        <th>کد معین</th>
        <th>کد تفضیلی</th>
        <th>شرح</th>
        <th>بدهکار</th>
        <th>بستانکار</th>
        <th>شماره پیگیری</th>
        <th>تاریخ پیگیری</th>
        <th>---</th>
      </tr>
      </thead>
      <tr ng-repeat="x in items" class="editable-row">
        <td>
          {{$index}}
        </td>
        <td>
          <span editable-select="x.accountid" e-name="کد معین" e-form="rowform"
                e-ng-options="i as i.id for i in acid">

        </span>
        </td>
        <td>
          <span editable-text="x.dlid" e-name="کد تفضیلی" e-form="rowform" e-required>
            {{ x.dlid }}
          </span>
        </td>
        <td><span editable-text="x.description" e-name="شرح" e-form="rowform" e-required>
            {{ x.description }}
          </span>
        </td>
        <td><span editable-text="x.debit" e-name="بدهکار" e-form="rowform" e-required>
            {{ x.debit }}
          </span>
        </td>
        <td><span editable-text="x.credit" e-name="بستانکار" e-form="rowform" e-required>
            {{ x.credit }}
          </span></td>
        <td><span editable-text="x.trackingnumber" e-name="شماره پیگیری" e-form="rowform" e-required>
            {{ x.trackingnumber }}
          </span></td>
        <td>
            <!--<span  editable-text="x.trackingdate" e-name="تاریخ پیگیری" e-form="rowform" e-required
        >
            {{ x.trackingdate }}
          </span></td>-->
        <td>
          <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline"
                shown="inserted == user">
            <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
              ذخیره
            </button>
            <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
              لغو
            </button>
          </form>
          <div class="buttons" ng-show="!rowform.$visible">
            <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">ویرایش</button>
            <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeitem($index)">حذف</button>
          </div>
        </td>
      </tr>


    </table>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="addcategory()">تایید</button>
      <div id="info">
          <span>اختلاف : {{d}}</span>

      </div>
  </div>
</div>
